<h2 style="text-align: center">Lorem Ipsum Generator</h2>
<p>Please put how many sentences of Lorem Ipsum you would like.</p>
<form method="post" action="/">
  <input type="text" name="v1">
  <input type="submit">
</form>

